[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[DA54778954776763]
row=0
col=0

[4639-2E38]
row=5
col=0

[7C586AA3586A5BC0]
row=1
col=0

[Papierkorb]
row=2
col=0

[/]
row=3
col=0

[/home/sebastian]
row=4
col=0

